@charset "UTF-8";
body,input{
	margin:5;
	padding:5;
	background:grey;
}
input{
	background:#ffffcc;
}
#xi{
	height:600px;
	width:800px;
	margin:0 auto;
	background:#ffffff;
	border:5px solid #ccc;
}